@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>The foremost authority for good humour that you will find anywhere on your web app</p>
</div>
