@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Currently, we are running it on the 
    local server, hence, security of the server should not be of much concern to you!
</p>
